@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --lightPink: hsl(321, 100%, 78%);
    --lightRed: hsl(0, 100%, 63%);
    --darkCyan: hsl(192, 100%, 9%);
    --paleBlue: hsl(207, 100%, 98%);
}

body {
    
}

.header-font {
    font-family: Poppins;
    font-weight: 700;
}

.body-font {
    font-family: "Open Sans";
    font-weight: 700;
}